
#comments #respond {
	font-family: inherit;
	font-weight: inherit;
}
#comments #respond h3 {
	margin: 0 auto 16px;
}
#comments #respond form {
	background: transparent;
}
#comment-form-comment {
	margin-bottom: 24px;
}
#comments #respond #comment-form-comment,
#comments #comment-form-share-text-padder,
#comments #respond .comment-form-fields div.comment-form-input {
	background: #f2f2f2;
	border: 1px solid #d9d9d9;
	-webkit-transition-duration: 125ms;
	-moz-transition-duration:    125ms;
	transition-duration:         125ms;
	-webkit-box-shadow: none !important;
	-moz-box-shadow:    none !important;
	box-shadow:         none !important;
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	border-radius:         0;
}
#comments .comment #respond #comment-form-comment,
#comments .comment #comment-form-share-text-padder,
#comments .comment #respond .comment-form-fields div.comment-form-input {
	background: #fff;
}
#comments .comment #respond #comment-form-comment.active,
#comments .comment #comment-form-share-text-padder.active,
#comments .comment #respond .comment-form-fields div.comment-form-input.active {
	background: #f2f2f2;
}
#comments #respond #comment-form-subscribe {
	margin-top: 0;
	margin-bottom: 24px;
	line-height: 1.5 !important;
}
#comments #respond .comment-form-fields p.comment-form-posting-as,
#comments #respond .comment-form-fields p.comment-form-log-out,
#comments #respond #comment-form-identity #comment-form-nascar p,
#comments #respond #comment-form-load-service p,
#comments #respond #comment-form-comment textarea,
#comments #comment-form-share-text-padder textarea,
#comments #respond .comment-form-fields label,
#comments #respond .comment-form-fields label span.required,
#comments #respond .comment-form-fields label span.nopublish,
#comments #respond .comment-form-fields div.comment-form-input input {
	color: #000;
	text-shadow: none;
}
#comments #respond #comment-form-comment.active,
#comments #respond .comment-form-fields div.comment-form-input.active {
	background: #fff;
}
#comments #respond #comment-form-load-service {
	height: auto;
}
#comments #respond #comment-form-load-service p {
	padding-top: 0;
	background: transparent;
}
#comments #respond .comment-form-service {
	padding: 0 0 24px;
	background: transparent;
	border-bottom: 0;
}
#comments #respond .comment-form-service a {
	color: #06973b;
	text-decoration: none;
}
#comments #respond .comment-form-service a:hover,
#comments #respond .comment-form-service a:focus,
#comments #respond .comment-form-service a:active {
	color: #000;
}
#comments #respond .comment-form-padder {
	padding: 0;
}
#comments #respond .form-submit {
	padding: 0 0 24px;
	font-size: inherit !important;
	line-height: 1.4 !important;
}
#comments .comment #respond .form-submit {
	padding-bottom: 24px;
}
#comments #respond p.form-submit input#comment-submit {
	padding: 6px 12px !important;
	background: #06973b !important;
	border: 0;
	color: #fff !important;
	font-family: Merriweather, sans-serif;
	font-size: 1em !important;
	line-height: 1.5 !important;
	font-weight: normal !important;
	text-shadow: none !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius:    0 !important;
	border-radius:         0 !important;
}
#comments #respond .form-submit input#comment-submit:hover {
	background: #000 !important;
}
#comments #respond .comment-form-fields div.comment-form-field {
	margin: 2px 0 5px 0;
}
#comments #respond #comment-form-identity {
	margin-top: -5px;
	border-top: 0;
}
#comments #respond #comment-form-identity #comment-form-nascar {
	background: transparent;
}
#comments #respond #comment-form-identity #comment-form-nascar p {
	padding: 5px 0 0;
}
#comments #respond #comment-form-identity #comment-form-nascar ul {
	margin-right: 0;
}
.rtl #comments #respond #comment-form-identity #comment-form-nascar ul {
	margin-right: auto;
	margin-left: 0;
}
#comments #respond.js .comment-form-fields label {
	top: 6px;
}
#comments #respond .comment-form-fields {
	margin-left: 34px
}
.rtl #comments #respond .comment-form-fields {
	margin-right: 34px;
	margin-left: auto
}
#comments #respond .comment-form-avatar img {
	padding: 0;
	width: 24px;
	border: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius:    50%;
	border-radius:         50%;
}


.hentry .wpcom-reblog-snapshot .reblogger-note {
	overflow: inherit;
	padding-bottom: 0;
	margin-bottom: 24px;
	border-bottom-color: #f2f2f2;
}
.hentry .wpcom-reblog-snapshot p.reblogger-headline {
	margin-bottom: 24px;
	line-height: inherit;
}
.reblog-from img,
.reblogger-headline img {
	-webkit-border-radius: 50%;
	-moz-border-radius:    50%;
	border-radius:         50%;
}
body .hentry .wpcom-reblog-snapshot .reblogger-note-content blockquote {
	padding-left: 24px;
	margin: 0 auto 24px;
	border-left: 4px solid #d9d9d9;
	font-style: italic;
}
body.rtl .hentry .wpcom-reblog-snapshot .reblogger-note-content blockquote {
	padding-right: 24px;
	padding-left: 0;
	border-right: 4px solid #d9d9d9;
	border-left: 0;
}
@media screen and (min-width: 768px) {
	body .hentry .wpcom-reblog-snapshot .reblogger-note-content blockquote {
		margin-left: -28px;
	}
	body.rtl .hentry .wpcom-reblog-snapshot .reblogger-note-content blockquote {
		margin-right: -28px;
		margin-left: 0;
	}
}


img#wpstats {
	position: absolute;
	top: -999em;
}



.aboutme_widget #am_thumbnail a,
.aboutme_widget #am_thumbnail img {
	display: block;
}
.aboutme_widget #am_thumbnail img {
	max-width: 100%;
	border: 0;
}
.aboutme_widget #am_name {
	margin: 0 auto 12px;
}
.aboutme_widget #am_headline {
	margin: 0 auto 16px;
}
.aboutme_widget #am_bio {
	margin-bottom: 24px;
}
.aboutme_widget #am_bio p {
	margin-bottom: 0;
}
.aboutme_widget #am_services {
	padding-bottom: 20px;
}
.aboutme_widget #am_services a.am_service_icon {
	display: inline-block;
	margin-bottom: 4px;
	line-height: 0;
}
.aboutme_widget #am_services a.am_service_icon img {
	margin-bottom: 0;
}


.widget_akismet_widget .a-stats {
	display: inline-block;
	margin-bottom: 24px;
	font-size: 1em;
	line-height: 1.5;
}
.widget_akismet_widget .a-stats a,
.widget_akismet_widget .a-stats .count {
	font-size: inherit;
	line-height: inherit;
}
.widget_akismet_widget .a-stats a {
	padding: 6px 12px;
	background: #06973b;
	border: 0;
	color: #fff;
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	border-radius:         0;
}
.widget_akismet_widget .a-stats a:hover {
	background: #000;
}
.widget_akismet_widget .a-stats .count {
	padding: 0;
}


.widget_authors ul ul {
	margin-left: 0;
}
.rtl .widget_authors ul ul {
	margin-right: 0;
}
.widget_authors img {
	vertical-align: middle;
	margin-right: 0.75em;
	max-width: 48px;
	-webkit-border-radius: 50%;
	-moz-border-radius:    50%;
	border-radius:         50%;
}
.rtl .widget_authors img {
	margin-right: 0;
	margin-left: 0.75em;
}
.widget_authors > ul > li > a {
	border-bottom: 0;
	color: rgba(0, 0, 0, 0.6);
}
.widget_authors > ul > li > a:hover,
.widget_authors > ul > li > a:focus,
.widget_authors > ul > li > a:active {
	color: #000;
}


.widget_contact_info #contact-map,
.widget_contact_info > div:last-child {
	margin-bottom: 24px;
}


.widget_flickr #flickr_badge_uber_wrapper,
.widget_flickr #flickr_badge_wrapper {
	background: transparent;
	border: 0;
}
.widget_flickr #flickr_badge_wrapper {
	margin: 0;
}
.widget_flickr #flickr_badge_uber_wrapper {
	margin: 0 0 18px;
}
.widget_flickr br {
	display: none;
}
.widget_flickr br:last-of-type {
	display: inline;
	clear: both;
}
.widget_flickr td {
	padding: 0;
	border: 0;
}
.widget_flickr a,
.widget_flickr img {
	display: block;
}
.widget_flickr a {
	float: left;
	margin-right: 6px;
	margin-bottom: 6px;
	height: 48px;
	border-bottom: 0;
	overflow: hidden;
}
.rtl .widget_flickr a {
	float: right;
	margin-right: 0;
	margin-left: 6px;
}
.widget_flickr .flickr-size-small a {
	height: 72px;
}
.widget_flickr a img {
	height: 100%;
}
.widget_flickr #flickr_badge_uber_wrapper td a:last-child {
	display: inline-block;
	float: none;
	clear: both;
	padding: 6px 12px;
	margin-right: 0;
	width: auto;
	height: auto;
	background: #06973b !important;
	border: 0;
	color: #fff;
	font-weight: normal;
}
.widget_flickr #flickr_badge_uber_wrapper td a:last-child:hover,
.widget_flickr #flickr_badge_uber_wrapper td a:last-child:focus,
.widget_flickr #flickr_badge_uber_wrapper td a:last-child:active {
	background: #000 !important;
}


.widget_blog_subscription > div {
	padding: 0 !important;
	margin: 0 0 24px !important;
	background: transparent !important;
	border: 0 !important;
	color: inherit !important;
}
.widget_blog_subscription input[type="text"] {
	padding: 12px !important;
	width: 100% !important;
}


.widget_goodreads .gr_custom_widget {
	margin-bottom: 24px;
}
.widget_goodreads br {
	display: none;
}
.widget_goodreads center {
	clear: both;
	margin-top: 12px;
}
.widget_goodreads center a,
.widget_goodreads center img {
	display: block;
	margin: 0 auto;
}
.widget_goodreads h2[class^="gr_custom_header"] {
	margin: 0 auto 21px;
	font-size: 1.125em;
	line-height: 1.33333;
}
.widget_goodreads h2[class^="gr_custom_header"] a {
	border-bottom: 0;
	color: #000;
}
.widget_goodreads h2[class^="gr_custom_header"] a:hover,
.widget_goodreads h2[class^="gr_custom_header"] a:focus,
.widget_goodreads h2[class^="gr_custom_header"] a:active {
	color: #06973b;
}
.widget_goodreads div[class^="gr_custom_container"] {
	padding: 0;
	background: transparent;
	border: 0;
	color: inherit;
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	border-radius:         0;
}
.widget_goodreads div[class^="gr_custom_each_container"] {
	padding: 6px 0;
	margin: 0;
	border-top: 1px solid #d9d9d9;
	border-bottom: 0;
}
.widget_goodreads div[class^="gr_custom_each_container"]:last-of-type {
	border-bottom: 1px solid #d9d9d9;
}
.widget_goodreads div[class^="gr_custom_title"] {
	font-weight: bold;
}
.widget_goodreads div[class^="gr_custom_author"] {
	color: rgba(0, 0, 0, 0.6);
	font-size: 0.875em;
	line-height: 1.71429;
}
.widget_goodreads div[class^="gr_custom_container"] div[class^="gr_custom_author"] a {
	border-bottom: 0;
	color: inherit;
}
.widget_goodreads div[class^="gr_custom_container"] div[class^="gr_custom_author"] a:hover,
.widget_goodreads div[class^="gr_custom_container"] div[class^="gr_custom_author"] a:focus,
.widget_goodreads div[class^="gr_custom_container"] div[class^="gr_custom_author"] a:active {
	color: #000;
}
.widget_goodreads center a {
	border-bottom: 0;
}


.widget_gravatar img {
	vertical-align: middle;
}


.widgets-grid-layout,
.widgets-multi-column-grid {
	margin-bottom: 20px;
}
.widgets-grid-layout a,
.widgets-multi-column-grid a {
	border-bottom: 0;
	line-height: 0;
}


.widget_i_voted img {
	margin-bottom: 24px;
}


.widget_wpcom_instagram_widget a,
.widget_wpcom_instagram_widget img {
	display: block;
}
.widget_wpcom_instagram_widget a {
	border-bottom: 0;
}
.widget_wpcom_instagram_widget > div {
	margin-bottom: 24px;
}
.widget_wpcom_instagram_widget .wpcom-instagram-columns-1 img,
.widget_wpcom_instagram_widget .wpcom-instagram-columns-2 img,
.widget_wpcom_instagram_widget .wpcom-instagram-columns-3 img {
	margin: 0;
}


.widget_internet_defense_league_widget a,
.widget_internet_defense_league_widget img {
	display: block;
}
.widget_internet_defense_league_widget a {
	border-bottom: 0;
}


.widget_authors ul,
.widget_author_grid ul,
.widget_jp_blogs_i_follow ol,
.widget_blog-stats ul,
.widget_top-clicks ul,
.widget_top-posts ul,
.widget.top_rated ul,
.widget_upcoming_events_widget ul {
	list-style: none;
	margin-left: 0;
	border-bottom: 1px solid #d9d9d9;
}
.rtl .widget_authors ul,
.rtl .widget_author_grid ul,
.rtl .widget_jp_blogs_i_follow ol,
.rtl .widget_blog-stats ul,
.rtl .widget_top-clicks ul,
.rtl .widget_top-posts ul,
.rtl .widget.top_rated ul,
.rtl .widget_upcoming_events_widget ul {
	margin-right: 0;
}
.widget_authors li,
.widget_author_grid li,
.widget_jp_blogs_i_follow li,
.widgets-list-layout li,
.widget_top-clicks li,
.widget_top-posts li,
.widget.top_rated li,
.widget_upcoming_events_widget li {
	padding-top: 12px;
	padding-bottom: 12px;
	border-top: 1px solid #d9d9d9;
}
.widget_authors a,
.widget_author_grid a,
.widget_jp_blogs_i_follow a,
.widgets-list-layout a,
.widget_top-clicks a,
.widget_top-posts a,
.widget.top_rated a,
.widget_upcoming_events_widget a {
	border-bottom: 0;
}
.widget_authors ul ul {
	padding-left: 24px;
	margin-top: 12px;
	margin-bottom: -12px;
	border-bottom: 0;
}
.rtl .widget_authors ul ul {
	padding-right: 24px;
	padding-left: 0;
}


.widget .widgets-list-layout {
	margin-bottom: 24px;
}
.widget .widgets-list-layout li {
	margin-bottom: 0;
}
.widget .widgets-list-layout span {
	display: block;
	opacity: 1;
	font-size: 0.875em;
	line-height: 1.71429;
}


.milestone-widget .milestone-content {
	margin: 0 0 24px;
	line-height: inherit;
}
.milestone-widget .milestone-header {
	padding: 12px;
	background: #06973b;
	line-height: inherit;
}
.milestone-widget .milestone-header .event {
	font-size: 1.125em;
	line-height: 1.33333;
}
.milestone-widget .milestone-countdown,
.milestone-widget .milestone-message {
	border-color: #d9d9d9;
}


.widget_recent_comments table {
	margin-top: -6px;
	margin-bottom: 18px;
	background: transparent;
	border: 0;
}
.widget_recent_comments tr,
.widget_recent_comments td {
	border: 0;
}
.widget_recent_comments td.recentcommentsavatarend,
.widget_recent_comments td.recentcommentsavatartop,
.widget_recent_comments td.recentcommentstextend {
	padding: 12px 0;
	vertical-align: middle;
}
.widget_recent_comments td.recentcommentstextend {
	padding-left: 12px;
}
.rtl .widget_recent_comments td.recentcommentstextend {
	padding-right: 12px;
	padding-left: 0;
}
.widget_recent_comments td.recentcommentsavatarend a {
	border-bottom: 0;
}
.widget_recent_comments td.recentcommentstexttop {
	padding: 12px 0 12px 12px;
}
.rtl .widget_recent_comments td.recentcommentstexttop {
	padding: 12px 12px 12px 0;
}
.widget_recent_comments img {
	vertical-align: middle;
}


.widget_recent_images .recent_images {
	margin-bottom: 19px;
}
.widget_recent_images .recent_images a,
.widget_recent_images .recent_images img {
	display: inline-block;
	line-height: 0;
}
.widget_recent_images .recent_images a {
	border-bottom: 0;
}


.wp_widget_tag_cloud > div {
	padding-bottom: 18px;
}
.wp_widget_tag_cloud > div:before,
.wp_widget_tag_cloud > div:after {
	content: "";
	display: table;
}
.wp_widget_tag_cloud > div:after {
	clear: both;
}
.wp_widget_tag_cloud a {
	display: inline-block;
	float: left;
	padding: 6px 12px !important;
	margin: 0 6px 6px 0 !important;
	background: #06973b;
	border-bottom: 0;
	color: #fff;
	font-size: 1em !important;
	text-decoration: none;
}
.rtl .wp_widget_tag_cloud a {
	float: right;
	margin: 0 0 6px 6px !important;
}
.wp_widget_tag_cloud a:hover,
.wp_widget_tag_cloud a:focus,
.wp_widget_tag_cloud a:active {
	background: #fff;
	color: #000;
}


.widget.top_rated .pd_top_rated_holder_posts {
	margin-bottom: 24px;
}
.widget.top_rated .pd_top_rated_holder_posts > p {
	padding: 12px;
	margin-bottom: -1px;
	border: 1px solid #d9d9d9;
	font-family: Lato, sans-serif;
	text-align: center;
}
.widget.top_rated ul {
	margin-bottom: 0;
}


.widget_upcoming_events_widget .upcoming-events li {
	margin-bottom: 0;
}


#bitsubscribe input[type=text],
#bitsubscribe input[type=email] {
	color: #000;
}


.reblogger-note img.avatar {
	float: left;
	padding: 0;
	border: 0;
}

.reblogger-note-content {
	margin: 0 0 20px;
}

.wpcom-reblog-snapshot .reblog-from img {
	margin: 0 .75em 0 0;
	padding: 0;
	border: 0;
}

.wpcom-reblog-snapshot .reblogger-note img.avatar {
	float: left;
	padding: 0;
	border: 0;
	margin: 0 .5em 0 0;
}

.wpcom-reblog-snapshot {
	margin-bottom: 1em;
}

.wpcom-reblog-snapshot p.reblog-from {
	margin: 0 0 1em 0;
}

.wpcom-reblog-snapshot p.reblogger-headline {
	line-height: 32px;
	margin: 0 0 1em 0;
}

.wpcom-reblog-snapshot .reblogged-content {
	margin: 0 0 1em 0;
}


.reblog-post .wpcom-enhanced-excerpt-content {
	border-left: 3px solid #eee;
	padding-left: 15px;
}

.reblog-post ul.thumb-list {
	display: block;
	list-style: none;
	margin: 2px 0;
	padding: 0;
	clear: both;
}

.reblog-post ul.thumb-list li {
	display: inline;
	margin: 0;
	padding: 0 1px;
	border: 0;
}

.reblog-post ul.thumb-list li a {
	margin: 0;
	padding: 0;
	border: 0;
}

.reblog-post ul.thumb-list li img {
	margin: 0;
	padding: 0;
	border: 0;
}

.reblog-post .wpcom-enhanced-excerpt {
	clear: both;
}

.reblog-post .wpcom-enhanced-excerpt address,
.reblog-post .wpcom-enhanced-excerpt li,
.reblog-post .wpcom-enhanced-excerpt h1,
.reblog-post .wpcom-enhanced-excerpt h2,
.reblog-post .wpcom-enhanced-excerpt h3,
.reblog-post .wpcom-enhanced-excerpt h4,
.reblog-post .wpcom-enhanced-excerpt h5,
.reblog-post .wpcom-enhanced-excerpt h6,
.reblog-post .wpcom-enhanced-excerpt p {
	font-size: 100% !important;
}

.reblog-post .wpcom-enhanced-excerpt blockquote,
.reblog-post .wpcom-enhanced-excerpt pre,
.reblog-post .wpcom-enhanced-excerpt code,
.reblog-post .wpcom-enhanced-excerpt q {
	font-size: 98% !important;
}


.reblog-from img {
	margin: 0 10px 0 0;
	vertical-align: middle;
	padding: 0;
	border: 0;
}

.reblog-source {
	margin-bottom: 0;
	font-size: .8em;
	line-height: 1;
}

.reblog-source .more-words {
	color: #668eaa;
}

.wpcom-reblog-snapshot .reblog-post {
	box-shadow: 0 0 0 1px rgba(46, 68, 83, .1) inset, 0 1px 1px rgba(46, 68, 83, .05);
	border-radius: 4px;
	padding: 24px;
}


.wpcom-reblog-snapshot .reblogger-note {
	margin: 0 0 1em 0;
	overflow: hidden;
}

.wpcom-reblog-snapshot p.reblogger-headline {
	line-height: 32px;
	margin: 0 0 1em 0;
}

.wpcom-reblog-snapshot .reblogger-note-content {
	margin: 0;
	padding: 0;
}

body .wpcom-reblog-snapshot .reblogger-note-content blockquote {
	font-style: normal;
	font-weight: normal;
	font-size: 1em;
	margin: 0;
	padding: 0;
	position: relative;
	border: none;
}

.wpcom-reblog-snapshot .reblogger-note-content blockquote p:last-child {
	margin-bottom: 0;
}
.geolocation-chip .noticon {
  display: inline-block;
  vertical-align: middle;
}

.geolocation-chip {
  margin-bottom: 1em;
}